@media(max-width: 1168px) {
    .container {
        max-width: 100%;
        padding: 0px 30px 0px 30px;
    }
}
@media(max-width: 600px) {
    .prime-button {
        font-size: 12px;
        padding: 9px 22px 9px 22px;
    }
}

@media(max-width: 530px) {
    .change-mode__subtitle,
    .download__subtitle,
    .pricing__subtitle,
    .testimonials__subtitle {
        font-size: 20px;
    }
}