@media(max-width: 680px){
    .download__text{
        width: 400px;
    }
}
@media(max-width: 530px){
    .download__text {
        width: 335px;
    }
}
@media(max-width: 380px) {
    .download__text {
        width: 280px;
    }
}