@media(max-width: 1168px) {
    .question-answers__inner {
        width: 450px;
        margin-top: 26px;
    }
}

@media(max-width: 990px) {
    .question-answers__inner {
        width: fit-content;
        margin-top: 26px;
    }
}

@media(max-width: 530px) {
    .faq__title {
        font-size: 24px;
    }

    .question-answers__inner {
        margin-top: 20px;
    }

    .question {
        font-size: 15px;
        line-height: 16px;
    }

    .answer {
        font-size: 12px;
    }

}