@media(max-width: 1168px){ 
    .features__cards{
        padding: 0px 50px 0px 50px;
    }
}
@media(max-width: 990px){
    .features__cards{
        padding: 0px;
    }
}
@media(max-width: 820px){
    .features__card {
        width: 365px;
        padding: 40px 0px 0px 0px;
        margin: 16px 0px 0px 0px;
    }
}
@media(max-width: 770px){
    .features__cards {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}
