.container {
    width: 100%;
    max-width: 1168px;
    margin: 0 auto;
}
.blue{
    color: #0278ED;
}
.background_blue{
    background: #0278ED;
    margin-top: 20px;
}
.background_black{
    background: #222222;
}
.black{
    color:#222222;
}
.white{
    color:#FFFFFF
}
.orange{
    color: #FF5437;
}
.background_orange{
    background: #FF5437;
    margin-top: 20px;
}
.yellow{
    color: #FF9209;;
}
.background_yellow{
    background: #FF9209;;
    margin-top: 20px;
}


.prime-button{
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    cursor: pointer;
    line-height: 18px;
    letter-spacing: 2px;
    padding: 11px 25px 11px 25px;
    border-radius: 4px;
    text-transform: uppercase;
    transition: all ease-in-out 0.1s;
}

.prime-button:hover{
    background-color: #4E4E4E;
}
.prime-button:active{
    transform: scale(0.98);
}
.half-phone {
    height: 530px;
    overflow: hidden;
}

.change-mode__subtitle,
.pricing__subtitle {
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    text-align: center;
    margin: 5px 0px 14px 0px;
}
