.change-mode{
    transition: all ease-in-out 0.5s;
}
.dark-mode{
    background-color: #222222;
    color:#FFFFFF;
}
.change-mode__title {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.change-mode__inner {
    text-align: center;
    padding: 100px 0px 160px 0px;
}

.change-mode__subtitle span {
    color: #FF9209;
}

.change-mode__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    margin: 0 auto;
    width: 578px;
}

.change-mode__img {
    width: 400px;
    margin-top: 36px;
}

.change-mode__inner hr {
    width: 600px;
    border: 1px solid #E5E5E5; 
    background: #E5E5E5;
    padding: 0px;
    transform: translateY(-15px);
}
.change-mode__button{
    display: flex;
    justify-content: center;
}

.dark-btn, .light-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: none;
    transition: all ease-in-out 0.5s;
    margin: 15px 20px 0px 20px;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.dark-btn{
    color: #222222;
}
.dark{
    color:#222222
}
.light__svg, .dark__svg{
    transition: all ease-in-out 0.5s;
    margin-bottom: 5px;
}
.active path {
    fill: #FF9209;
}

.active {
    color: #FF9209;
}