

.dark-mode {
    background-color: #222222;
}

.dark-mode__inner {
    text-align: center;
    padding: 100px 0px 160px 0px;
}

.dark-mode__subtitle,
.pricing__subtitle {
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
    margin: 5px 0px 14px 0px;
}

.dark-mode__subtitle span {
    color: #FF9209;
}

.dark-mode__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    margin: 0 auto;
    color: #FFFFFF;
    width: 578px;
}

.dark-mode__img {
    width: 400px;
    margin-top: 36px;
}

.dark-mode__inner hr {
    width: 600px;
    padding: 0px;
    transform: translateY(-15px);
}

.dark-mode__button button {
    background: none;
    margin: 40px 20px 0px 20px;
}

.active path {
    fill: #FF9209;
}

.active {
    color: #FF9209;
}