
.digital__inner {
    display: flex;
    justify-content: space-between;
    padding: 92px 100px 0px 78px;
}

.digital__logo {
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.digital__logo p {
    color: #222222;
    font-size: 25px;
    font-weight: 600;
    margin-left: 8px;
    letter-spacing: -1.5px;
}

.digital__title {
    width: 400px;
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 60px;
    color: #222222;
    margin: 11px 0px 17px 0px;
}
.digital__button{
    background-color: #222222;
    margin-left: 5px;
}
.digital__inform{
    margin-top: 5px;
}
.digital__text {
    width: 394px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #222222;
    margin-bottom: 20px;
}

.digital__half-phone {
    height: 548px;
    width: 376px;
    overflow: hidden;
}

.digital__half-phone img {
    width: 376px;
}