
.digital__app__inner,
.tehnology__inner {
    display: flex;
    justify-content: space-between;
    padding: 93px 91px 0px 62px;
    align-items: center;
}

.digital__app__img,
.tehnology__img {
    height: 530px;
    overflow: hidden;

}
.logo__text, .digital__logo__text {
    color: #222222;
    font-size: 25px;
    font-weight: 600;
    margin-left: 8px;
    letter-spacing: -2px;
}

.digital__app__title {
    width: 400px;
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 60px;
    color: #222222;
    margin: 11px 0px 17px 0px;
}

.digital__app__text {
    width: 394px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #222222;
    margin-bottom: 20px;
}

.digital__logo__text {
    font-size: 26px;
}

.buy__now,
.read__more {
    padding: 10px 25px 12px 25px;
    margin-top: 20px;
}

.buy__now:active,
.read__more:active {
    background-color: #222222;
    padding: 10px 22px 12px 22px;
}

.features {
    background-color: #222222;
}

.features__inner {
    text-align: center;
    padding: 100px 0px;
}
