
.digital__inner{
    display: flex;
    justify-content: space-between;
    padding: 93px 91px 0px 62px;
    align-items: center;
}

.digital__logo{
    display: flex;
    align-items: center;
}
.digital__logo p{
    color: #222222;
    font-size: 25px;
    font-weight: 600;
    margin-left: 8px;
    letter-spacing: -2px;
}

.digital__title {
    width: 400px;
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 60px;
    color: #222222;
    margin: 11px 0px 17px 0px;
}

.digital__text {
    width: 394px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #222222;
    margin-bottom: 20px;
}

