.download__inner {
    text-align: center;
    padding: 100px 0px 140px 0px;
}

.download__title {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #222222;
}

.download__subtitle {
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    text-align: center;
    color: #222222;
    margin: 5px 0px 14px 0px;
}
.download__text{
    width: 589px;
    margin: 0 auto 27px auto;
}
