.footer__inner{
    margin: 0  auto;
    padding: 125px 0px ;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer__link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 110px;
    margin-top: 20px;
}
.footer__logo{
    text-align: center;
}