header {
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    right: 0;
    background: #FFFFFF;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.15)
}

.header__inner {
    display: flex;
    justify-content: space-between;
    padding: 25px 0px;
}


.menu {
    display: flex;
    align-items: center;
}
.menu__item{
    margin-right: 42px;
}
.burger {
    position: fixed;
    display: none;
    z-index: 1000;
    top: 25px;
    right: 100px;
    width: 36px;
    height: 36px;
    border-radius: 20px;
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
}

.burger:hover {
    background: #E5E5E5;
}
.burger:focus{
    background: #FFFFFF;
    outline: 1px solid #5AB0FF;
}
.burger span {
    width: 16px;
    height: 3px;
    background-color: #222222;
    position: absolute;
    z-index: 20;
    top: 30%;
    left: 27%;
    transition: all ease 0.5s;
}
.burger span:nth-of-type(1) {
    top: 47%;
}

.burger span:nth-of-type(2) {
    top: calc(47% - 5px);
}

.burger span:nth-of-type(3) {
    top: calc(47% + 5px);
}

.burger.active span:first-of-type {
    transform: translateX(-100%);
    opacity: 0;
}

.burger.active span:nth-of-type(2) {
    top: 47%;
    transform: rotate(405deg);
}

.burger.active span:nth-of-type(3) {
    top: 47%;
    transform: rotate(-405deg);
}