
#sale {
    background: url("../../img/Background.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 90px;
}

.sale__inner {
    text-align: center;
    padding: 60px 0px 78px 0px;
}

.sale__title {
    letter-spacing: 1.1px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 50px;
    line-height: 75px;
    color: #FFFFFF;
}

.sale__subtitle {
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    letter-spacing: 1.5px;
    color: #FFFFFF;
}

.timer {
    width: 729px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.count {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
    font-size: 100px;
    line-height: 150px;
    letter-spacing: 1.1px;
    text-transform: uppercase;
}

.sale__timer__count b {
    font-weight: 300;
    margin: 0px 25px 0px 25px
}

.timer__count p {
    font-weight: 700;
    font-size: 24px;
    margin: 0px 12px;
    line-height: 36px;
    letter-spacing: 1.5px;
    color: #FFFFFF;
}
.timer div {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    color: #FFFFFF;
    font-size: 100px;
    line-height: 150px;
    letter-spacing: 1.1px;
}
