.tehnology{
    background: #F2F2F2;
}
.tehnology:nth-child(2n){
    background-color: #FFFFFF;
}

.tehnology__inner {
    display: flex;
    justify-content: space-between;
    padding: 100px 100px 0px 78px;
}
.tehnology__inner-state{
    display: flex;
    justify-content: space-between;
    padding: 100px 88px 0px 100px;
}
.tehnology__inform{
    margin-top: 77px;
}
.tehnology__title {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #222222;
}

.tehnology__subtitle {
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    width: 408px;
    color: #222222;
    margin: 5px 0px 15px 0px;
}

.tehnology__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #666666;
    width: 402px;
}
.tehnology__img{
    height: 545px;
    overflow: hidden;
}