*,
*::before,
*::after {
    box-sizing: border-box;
}

ul[class],
ol[class] {
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
}

ul[class],
ol[class] {
    list-style: none;
}

button {
    border: 0px;
}

input,
button,
textarea,
select {
    font: inherit;
}

.container {
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    padding: 25px 0px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo__text,
.digital__logo__text {
    color: #222222;
    font-size: 17px;
    font-weight: 600;
    margin-left: 8px;
    letter-spacing: 0px;
}

.header__nav {
    display: flex;
    align-items: center;
}

.header__nav div {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #666666;
    margin-right: 42px;
    cursor: pointer;
}

.header__button,
.buy__now,
.read__more {
    background-color: #222222;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    cursor: pointer;
    line-height: 18px;
    letter-spacing: 2px;
    padding: 10px 31px 12px 31px;
    border-radius: 4px;
    text-transform: uppercase;
    transition: all ease-in-out 0.1s;
}

.header__button:hover,
.buy__now:hover,
.read__more:hover {
    background-color: #4E4E4E;
}

.header__button:active {
    background-color: #222222;
    padding: 10px 28px 12px 28px;
}

.sale {
    background: url("../img/Background.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.sale__inner {
    text-align: center;
    padding: 60px 0px 78px 0px;
}

.sale__title {
    letter-spacing: 1.1px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 50px;
    line-height: 75px;
    color: #FFFFFF;
}

.sale__title__text {
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    letter-spacing: 1.5px;
    color: #FFFFFF;
}

.sale__timer {
    width: fit-content;
    margin: 0 auto;
}

.sale__timer__count {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
    font-size: 100px;
    line-height: 150px;
    letter-spacing: 1.1px;
    text-transform: uppercase;
}

.sale__timer__count b {
    font-weight: 300;
    margin: 0px 25px 0px 25px
}


.sale__timer__text {
    display: flex;
    justify-content: space-between;
}

.sale__timer__text p {
    font-weight: 700;
    font-size: 24px;
    margin: 0px 12px;
    line-height: 36px;
    letter-spacing: 1.5px;
    color: #FFFFFF;
}

.digital__app__inner,
.tehnology__inner {
    display: flex;
    justify-content: space-between;
    padding: 93px 91px 0px 62px;
    align-items: center;
}

.digital__app__img,
.tehnology__img {
    height: 530px;
    overflow: hidden;

}

.digital__app__title {
    width: 400px;
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 60px;
    color: #222222;
    margin: 11px 0px 17px 0px;
}

.digital__app__text {
    width: 394px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #222222;
}

.digital__logo__text {
    font-size: 26px;
}

.buy__now,
.read__more {
    padding: 10px 25px 12px 25px;
    margin-top: 20px;
}

.buy__now:active,
.read__more:active {
    background-color: #222222;
    padding: 10px 22px 12px 22px;
}

.features {
    background-color: #222222;
}

.features__inner {
    text-align: center;
    padding: 100px 0px;
}

.features__inner__title,
.dark__mode__title,
.pricing__title {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.features__inner__text {
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    width: 495px;
    margin: 0 auto 29px auto;
    color: #FFFFFF;
}

.features__cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.features__card {
    width: 379px;
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 40px 0px 0px 0px;
    margin: 16px 0px 0px 0px;
}

.features__card__inform {
    background-color: #F2F2F2;
    padding-bottom: 40px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.features__card__img {
    height: 253px;
    width: 227px;
    overflow: hidden;
    margin: 0 auto;
}

.features__card__img img {
    width: 227px;
}

.features__card__icon {
    position: relative;
    z-index: 2;
    top: -32px;
    margin: 0;
}

.features__card__title {
    margin: -18px 0px 11px 0px;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
}

.features__card__text {
    width: 298px;
    margin: 0 auto;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #222222;
}

.advantages {
    background-color: #FF5437;
}

.advantages__inner {
    display: flex;
    justify-content: space-between;
    padding: 80px 0px 100px 0px;
}

.advantages__item {
    text-align: center;
}

.advantages__item__statistics {
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 96px;
    color: #FFFFFF;
}

.advantages__item__title {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    margin-top: 20px;
    text-transform: uppercase;
    color: #FFFFFF
}

.tehnology__title {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #222222;
}

.tehnology__text__subtitle {
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    width: 409px;
    color: #222222;
    margin: 5px 0px 15px 0px;
}

.tehnology__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #666666;
    width: 403px;
}

.dark__mode {
    background-color: #222222;
}

.dark__mode__inner {
    text-align: center;
    padding: 100px 0px 160px 0px;
}

.dark__mode__subtitle,
.pricing__subtitle {
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
    margin: 5px 0px 14px 0px;
}

.dark__mode__subtitle span {
    color: #FF9209;
}

.dark__mode__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    margin: 0 auto;
    color: #FFFFFF;
    width: 578px;
}

.dark__mode__img {
    width: 400px;
    margin-top: 36px;
}

.dark__mode__inner hr {
    width: 600px;
    padding: 0px;
    transform: translateY(-15px);
}

.dark__mode__button button {
    background: none;
    margin: 40px 20px 0px 20px;
}

.dark__text,
.light__text {
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.active path {
    fill: #FF9209;
}

.active {
    color: #FF9209;
}

.pricing__inner {
    text-align: center;
    padding: 100px 0px;
}

.pricing__title {
    color: #222222;
}

.pricing__subtitle {
    color: #222222;
}

.pricing__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #666666;
    margin: 0 auto;
    width: 568px;
}

.pricing__cards {
    display: flex;
    justify-content: space-between;
    margin-top: 41px;
}

.pricing__card {
    width: 379px;
    height: 338px;
    background: #F2F2F2;
    border-radius: 20px;
    padding: 49px 0px;
}

.pricing__card__title {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #0278ED;
}

.pricing__card__dollar {
    font-weight: 400;
    font-size: 108px;
    line-height: 124px;
    text-align: center;
    letter-spacing: 8px;
    color: #0278ED;
    margin:0px 0px 25px 0px;
}

.pricing__card__subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #222222;
}